/* Global styles */
body {
    font-family: "Roboto Light", monospace, Georgia, "Savoye LET";
    margin: 0 auto;
    padding: 0;
    max-width: 1100px;
}

/* Container styles */
.container{
    border: none;
    border-radius: 10px;
    box-shadow: 4px 4px 8px lightgrey ;
    padding: 1.5rem 2rem;
    margin: 20px;

}
/* Additional styles */
.container span {
    white-space: nowrap;
}

.container form {
    margin-bottom: 20px;
}

.container .total-cost {
    font-weight: bold;
    margin-bottom: 10px;
}

.main-container {
    margin: 20px;
    display: flex;
    padding: 5px;
    flex-direction: column;
}

.label{
    font-family: "Roboto Light", monospace, Georgia, "Savoye LET";
    margin: 1rem;
    padding: 4px;
}

/* Navigation bar styles */
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("Sky.webp");
    background-size: 1200px;
    background-position: center -110px;
    background-repeat: no-repeat;

    padding: 10px;
}

.nav-btn {
    all: unset;
    margin: 10px 5px 10px;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: background-color 0.2s ease-in, color 0.2s ease-in, box-shadow 0.2s ease-in;
}

.nav-btn:last-child {
    margin-right: 0;
}

.nav-btn:hover {
    background-color: #000;
    color: #fff;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}

.btn2 {
    all: unset;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: rgba(253, 51, 57, 0.98);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease-in, color 0.2s ease-in, box-shadow 0.2s ease-in;
}

.btn2:hover {
    background-color: rgba(253, 51, 57, 0.8);
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
}

.header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Reports container styles */
.reports-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.row {
    border: none;
    border-radius: 8px;
    box-shadow: 4px 4px 8px lightgrey;
    padding: 10px;
    margin: 4px;
    background-color: #ffffff;
}

.rowItem {
    display: block;
    margin-bottom: 5px;
}

/* Edit button styles */
.edit {
    all: unset;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 0px 3px lightgray;
    padding: 5px;
    background-color: #daefcf;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.2s ease-in, color 0.2s ease-in, box-shadow 0.2s ease-in;
}

.edit:hover {
    background-color: #9fea9f;
    color: #003400;

    box-shadow: -2px 2px 5px gray;
    transform: translateY(-1px);
}
.delete{
    all: unset;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 0px 3px gray;
    padding: 2px;
    background: #ece2e2;
    color: black;
}
.delete:hover{
    background: #eaadaf;
    color: #003400;
    transform: translateY(-1px);
    box-shadow: -2px 2px 5px gray;

}

/* Button container styles */
.btns {
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.btn {
    display: inline-block;
    background: none;
    position: relative;
    padding: 6px 8px;
    margin: 4px;
    border: 1px solid black;
    border-radius: 10px;
    max-width: fit-content;
    cursor: pointer;
    box-shadow: 0.5px 0.5px 10px #e8e8e8;
    transition: background-color 0.2s ease-in, color 0.2s ease-in, box-shadow 0.2s ease-in;
}

.btn:hover {
    background-color: #000;
    color: #fff;
    box-shadow: 0.2rem 0.2rem 2rem #bcbbbb;
    transform: translateY(-1px);
}

/* Table styles */
table {
    width: 100%;
    text-align: left;
    border-collapse: separate;
    border-spacing: 20px;
}

table th,
table td {
    padding: 10px;
    border: 1px solid #000;
}

/* Custom styles for the table */
table th {
    background-color: #f0f0f0;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #eaeaea;
}

.form-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px lightgrey;
}
.form-input{
    border-radius: 8px;
    padding: 4px;
    border: 1px solid lightgray;
}

.header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 20px;
}
.input-container-date{
    isplay: flex;
    flex-direction: column;
}
.dropdown{
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 4px;
}

.input-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-container input,
.input-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 4px;
}

