<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Form</title>
    <link rel="stylesheet" type="text/css" href="style.css?v=1234">
</head>
<body>
<div th:include="navbar.html"></div>
<div>
    <form method="post">
        <div class="main-container">
            Car Model
            <select name="carmodel">
                <option th:each="carModel : ${carModelList}" th:value="${carModel.modelID}" th:text="${carModel.modelName}"></option>
            </select>
            Current mileage
            <input type="number" name="mileage">
            Year
            <input type="number" name="year" maxlength="4">
            <input class="btn" type="submit" value="Submit" formaction="addCar">
        </div>

    </form>
</div>
</body>

</html>