<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Model Form</title>
    <link rel="stylesheet" type="text/css" href="style.css?v=1234">
</head>
<body>
<div th:include="navbar.html"></div>
<div>
    <form method="post">
        <div class="main-container">
            Brand
            <input type="text" name="brand">
            Model Name
            <input type="text" name="name">
            Fuel Type
            <select name="fuelType">
                <option th:each="fuelType : ${fuelTypeList}" th:text="${fuelType}"></option>
            </select>
            <input class="btn" type="submit" value="Submit" formaction="addCarModel">
        </div>

    </form>
</div>
</body>
</html>