<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="style.css?v=1234">
</head>
<body>
<div th:include="navbar.html"></div>
<div class="main-container">
    <div class="header">Damage Report</div>

    <form method="get" class="input-form">
        <input class="btn2" type="submit" value=" + Add damage report" formaction="damageReportForm">
    </form>

<div class="reports-container">
    <div class="row" th:each="damageReport, iteration :  ${damageReports}">
        DamageReport <span class="rowItem" th:text="${iteration.count}"/>. description
        <span class="rowItem" th:text="${damageReport.description}"/>
        <form method="post" class="btns">
            <input class="edit" type="submit" value="Edit" formaction="editDamageReport">
            <input class="delete" type="submit" value="Delete" formaction="deleteDamageReport">
            <input type="hidden" th:value="${damageReport.reportID}" name="reportID">
        </form>
    </div>
</div>
</div>



</body>
</html>
