<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Damage Report Dashboard</title>
    <link rel="stylesheet" type="text/css" href="style.css?v=1234">
</head>
<body>
<div th:include="navbar.html"></div>
<div class="main-container">
    <div class="header">Damage Report</div>

    <form method="get" class="container">
        <input class="btn" type="submit" value=" + Add damage report" formaction="damageReportForm">
    </form>

    <div class="reports-container">
        <table>
            <thead>
            <tr>
                <th>Damage Report ID</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="damageReport, iteration :  ${damageReports}">
                <td th:text="${iteration.count}"></td>
                <td th:text="${damageReport.description}"></td>
                <td>
                    <form method="post" class="btns">
                        <input class="edit" type="submit" value="Edit" formaction="editDamageReport">
                        <input class="delete" type="submit" value="Delete" formaction="deleteDamageReport">
                        <input type="hidden" th:value="${damageReport.reportID}" name="reportID">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>



</body>
</html>
