<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="maincontainer">
    <form method="post">
        <input style="background-color: rgba(253,51,57,0.98)" class="btn2" type="submit" value="Logout" formaction="logout">
    </form>
    <div class="header">Damage Report</div>
    <form method="get" class="input-form">
        <input class="btn2" type="submit" value=" + Add damage report" formaction="damageReportForm">
    </form>
</div>
<div class="row" th:each="damageReport, iteration :  ${damageReports}">
    DamageReport <span class="rowItem" th:text="${iteration.count}"/>. description
    <span class="rowItem" th:text="${damageReport.description}"/>
    <form method="post">
        <input class="btn" type="submit" value="Edit" formaction="editDamageReport">
        <input class="btn" type="submit" value="Delete" formaction="deleteDamageReport">
        <input type="hidden" th:value="${damageReport.reportID}" name="reportID">
    </form>
</div>



</body>
</html>
