<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Dashboard</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
</head>
<body>
<div class="container">
    <form method="post">
        <input style="background-color: rgba(253,51,57,0.98)" class="btn2" type="submit" value="Logout" formaction="logout">
    </form>
    <form method="get">

        <input class="btn" type="submit" value="Lease" formaction="leaseDashboard">
        <input class="btn" type="submit" value="Business analysis" formaction="carDashboard">
        <input class="btn" type="submit" value="Damage report" formaction="damageReportDashboard">
    </form>
</div>
</body>
</html>