<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INTERNAL - BilAbonnement.dk</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
</head>
<body>
<div class="maincontainer">
    <form method="post">
        <div class="container">
            <input style="color: red" type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input class="btn" type="submit" value="Add user" formaction="addUser">
            <input class="btn" type="submit" value="Login" formaction="login">
        </div>

    </form>
</div>

<div style="color: red; text-align: center" th:text="${errorMsg}"></div>
</body>
</html>