<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INTERNAL - BilAbonnement.dk</title>
    <link rel="stylesheet" type="text/css" href="style.css?v=1234">
</head>
<body>

    <form method="post">
        <div class="container">
            <label class="label">@Email</label>
            <input type="text" name="email" placeholder="Email">
            <label class="label">Password</label>
            <input type="password" name="password" placeholder="Password">
            <input class="btn" type="submit" value="Login" formaction="login">
        </div>

    </form>

</body>
</html>