<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lease Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<div th:include="navbar.html"></div>
<div>
    <form method="post">
        <div class="container">
            Car
            <select name="car">
                <option th:each="car : ${carList}" th:value="${car.carID}" th:text="${car.modelName}"></option>
            </select>
            Customer
            <select name="user">
                <option th:each="user : ${userList}" th:value="${user.userID}" th:text="${user.firstName}"></option>
            </select>
            Employee
            <select name="employee">
                <option th:each="employee : ${employeeList}" th:value="${employee.employeeID}" th:text="${employee.firstName}"></option>
            </select>
            Current date
            <span th:with="currentDate=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}">
                <input type="date" name="startDate" th:value="${currentDate}">
            </span>
            End date
            <input type="date" name="endDate" th:value="${endDate}">
            Pickup location
            <select name="locationPickup">
                <option th:each="location : ${locationList}" th:text="${location}"></option>
            </select>
            Return location
            <select name="locationReturn">
                <option th:each="location : ${locationList}" th:text="${location}"></option>
            </select>
            Max mileage
            <input type="number" name="maxMileage">
            Price
            <input type="number" name="price">
            <input class="btn" type="submit" value="Add lease" formaction="addLease">
        </div>

    </form>
</div>
</body>
</html>