<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lease Dashboard</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<div th:include="navbar.html"></div>
<div class="main-container">
    <form method="get" action="leaseForm">
        <div class="container">
<!--            <input class="btn" type="submit" value="Add 3 Month Lease" name="AddLease3M" formaction="leaseForm">-->
<!--            <input class="btn" type="submit" value="Add 6 Month Lease" name="AddLease6M" formaction="leaseForm">-->
<!--            <input class="btn" type="submit" value="Add 1 Year Lease" name="AddLeaseYear" formaction="leaseForm">-->
            <button type="submit" value="lease3M" name="leaseLength">Add 3 Month Lease</button>
            <button type="submit" value="lease6M" name="leaseLength">Show 6 Month Lease</button>
            <button type="submit" value="leaseYear" name="leaseLength">Show 1 Year Lease</button>
        </div>
    </form>
</div>
</body>
</html>