<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lease Dashboard</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<div th:include="navbar.html"></div>
<div class="main-container">
    <form method="get" action="leaseForm">
        <div class="container">
<!--            <input class="btn" type="submit" value="Add 3 Month Lease" name="AddLease3M" formaction="leaseForm">-->
<!--            <input class="btn" type="submit" value="Add 6 Month Lease" name="AddLease6M" formaction="leaseForm">-->
<!--            <input class="btn" type="submit" value="Add 1 Year Lease" name="AddLeaseYear" formaction="leaseForm">-->
            <button type="submit" value="lease3M" name="leaseLength">Register 3 Month Lease</button>
            <button type="submit" value="lease6M" name="leaseLength">Register 6 Month Lease</button>
            <button type="submit" value="leaseYear" name="leaseLength">Register 1 Year Lease</button>
        </div>
    </form>
    <table>
        <thead>
        <tr>
            <th>Lease ID</th>
            <th>Customer</th>
            <th>Customer Email</th>
            <th>Car ID</th>
            <th>Car</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="list : ${mergedList}">
            <td>
                <span th:if="${list[0] != null}" th:with="lease=${list[0]}" th:text="${lease.leaseID}"></span>
            </td>
            <td>
                <span th:if="${list[2] != null}" th:with="user=${list[2]}" th:text="${user.firstName + ' ' + user.lastName}"></span>
            </td>
            <td>
                <span th:if="${list[2] != null}" th:with="user=${list[2]}" th:text="${user.email}"></span>
            </td>
            <td th:with="car=${list[3]}" th:text="${car.carID}"></td>
            <td th:with="car=${list[3]}" th:text="${car.brand + ' ' + car.modelName}"></td>
            <td>
                <span th:if="${list[1]}" th:text="ACTIVE"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>