<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lease Dashboard</title>
    <link rel="stylesheet" type="text/css" href="style.css?v=1234">
</head>
<body>
<div th:include="navbar.html"></div>
<div class="main-container">
    <form method="get" action="leaseForm">
        <div class="container">
            <button type="submit" value="lease3M" name="leaseLength">Register 3 Month Lease</button>
            <button type="submit" value="lease6M" name="leaseLength">Register 6 Month Lease</button>
            <button type="submit" value="leaseYear" name="leaseLength">Register 1 Year Lease</button>
        </div>
    </form>
    <table>
        <thead>
        <tr>
            <th>Lease ID</th>
            <th>Customer</th>
            <th>Customer Email</th>
            <th>Car ID</th>
            <th>Car</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="map : ${mergedMapList}">
            <td th:if="${map.containsKey('lease')}" th:with="obj=${map.lease}" th:text="${obj.leaseID}"></td>
            <td th:if="${map.containsKey('user')}" th:with="obj=${map.user}" th:text="${obj.firstName + ' ' + obj.lastName}"></td>
            <td th:if="${map.containsKey('user')}" th:with="obj=${map.user}" th:text="${obj.email}"></td>
            <td th:if="${map.containsKey('car')}" th:with="obj=${map.car}" th:text="${obj.carID}"></td>
            <td th:if="${map.containsKey('car')}" th:with="obj=${map.car}" th:text="${obj.brand + ' ' + obj.modelName}"></td>
            <td th:if="${map.containsKey('status')}" th:text="ACTIVE"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>