<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INTERNAL - BilAbonnement.dk</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
</head>
<body>
<div class="main-container">
    <form method="post">
        <div class="container">
            <input class="btn" type="submit" value="Lease" formaction="leaseDashboard">
            <input class="btn" type="submit" value="Business analysis" formaction="carDashboard">
            <input class="btn" type="submit" value="Damage report" formaction="damageReportDashboard">
        </div>
    </form>

    <h1 th:text="${currentTab}">wauw</h1>

<!--    <table>-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>Car ID</th>-->
<!--            <th>Car</th>-->
<!--            <th>Lease ID</th>-->
<!--            <th>Leased by</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:if="${currentTab == 'all'}" th:each="obj : ${mergedList}">-->
<!--            test-->
<!--&lt;!&ndash;            <td th:with="car=${mergedList[0]}" th:text="${car.carID}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td th:with="car=${mergedList[0]}" th:text="${car.modelName}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td>&ndash;&gt;-->
<!--&lt;!&ndash;                <span th:if="${mergedList[1] != null}" th:with="lease=${mergedList[1]}" th:text="${lease.leaseID}"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                <span th:if="${mergedList[1] == null}"> </span>&ndash;&gt;-->
<!--&lt;!&ndash;            </td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td>&ndash;&gt;-->
<!--&lt;!&ndash;                <span th:if="${mergedList[2] != null}" th:with="user=${mergedList[2]}" th:text="${user.firstName + ' ' + user.lastName}"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                <span th:if="${mergedList[2] == null}"> </span>&ndash;&gt;-->
<!--&lt;!&ndash;            </td>&ndash;&gt;-->
<!--        </tr>-->
<!--&lt;!&ndash;        <tr th:if="${currentTab == 'leased' && obj[1] != null}" th:each="obj : ${mergedList}">&ndash;&gt;-->
<!--&lt;!&ndash;            <td th:with="car=${mergedList[0]}" th:text="${car.carID}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td th:with="car=${mergedList[0]}" th:text="${car.modelName}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td th:with="lease=${mergedList[1]}" th:text="${lease.leaseID}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td th:with="user=${mergedList[2]}" th:text="${user.firstName + ' ' + user.lastName}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;        </tr>&ndash;&gt;-->
<!--&lt;!&ndash;        <tr th:if="${currentTab == 'available' && obj[1] == null}" th:each="obj : ${mergedList}">&ndash;&gt;-->
<!--&lt;!&ndash;            <td th:with="car=${mergedList[0]}" th:text="${car.carID}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td th:with="car=${mergedList[0]}" th:text="${car.modelName}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td> </td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td> </td>&ndash;&gt;-->
<!--&lt;!&ndash;        </tr>&ndash;&gt;-->
<!--        </tbody>-->
<!--    </table>-->

</div>

<div style="color: red; text-align: center" th:text="${errorMsg}"></div>
</body>
</html>