<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INTERNAL - BilAbonnement.dk</title>
    <link rel="stylesheet" type="text/css" href="style.css?v=1234">
</head>
<body>
<div th:include="navbar.html"></div>
<div class="container">
    <style>
        table {
            text-align: left;
            border-collapse: separate;
            border-spacing: 20px;
        }
    </style>
    Total cost/price of leased cars(<span th:text="${totalLeasedCars}">0</span>):<span th:text="${totalLeaseValue}">0,0</span> DKK
    <form method="get" action="mainDashboard">
        <button class="btn" type="submit" value="all" name="changeTab">Show All Cars</button>
        <button class="btn" type="submit" value="leased" name="changeTab">Show Leased Cars</button>
        <button class="btn" type="submit" value="available" name="changeTab">Show Available Cars</button>
    </form>
        <table>
            <thead>
            <tr>
                <th>Car ID</th>
                <th>Model</th>
                <th>Lease ID</th>
                <th>Leased by</th>
                <th>Lease Date</th>
                <th>Return Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${currentTab == 'all'}" th:each="list : ${mergedList}">
                <td th:with="car=${list[0]}" th:text="${car.carID}"></td>
                <td th:with="car=${list[0]}" th:text="${car.brand + ' ' + car.modelName}"></td>
                <td>
                    <span th:if="${list[1] != null}" th:with="lease=${list[1]}" th:text="${lease.leaseID}"></span>
                    <span th:if="${list[1] == null}"> </span>
                </td>
                <td>
                    <span th:if="${list[2] != null}" th:with="user=${list[2]}" th:text="${user.firstName + ' ' + user.lastName}"></span>
                    <span th:if="${list[2] == null}"> </span>
                </td>
            </tr>
            <tr th:if="${currentTab == 'leased' && list[1] != null}" th:each="list : ${mergedList}">
                <td th:with="car=${list[0]}" th:text="${car.carID}"></td>
                <td th:with="car=${list[0]}" th:text="${car.brand + ' ' + car.modelName}"></td>
                <td th:with="lease=${list[1]}" th:text="${lease.leaseID}"></td>
                <td th:with="user=${list[2]}" th:text="${user.firstName + ' ' + user.lastName}"></td>
            </tr>
            <tr th:if="${currentTab == 'available' && list[1] == null}" th:each="list : ${mergedList}">
                <td th:with="car=${list[0]}" th:text="${car.carID}"></td>
                <td th:with="car=${list[0]}" th:text="${car.brand + ' ' + car.modelName}"></td>
            </tr>
            </tbody>
        </table>

</div>
</body>
</html>