<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
</head>
<header>
    <body>
    <div class="main-container">
        <form method="post">
            <input style="background-color: rgba(253,51,57,0.98)" class="btn2" type="submit" value="Logout" formaction="logout">
        </form>
        <form method="get">
            <input type="submit" value="Dashboard" formaction="mainDashboard">
            <input type="submit" value="Lease Management" formaction="leaseDashboard">
            <input type="submit" value="Damage Report Management" formaction="damageReportDashboard">
            <input type="submit" value="Employee Management" formaction="employeeDashboard">
            <input type="submit" value="Customer Management" formaction="userDashboard">
            <input type="submit" value="Car Management" formaction="carDashboard">
        </form>
    </div>
    </body>
</header>
</html>

