<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Dashboard</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<div class="container">
    <form method="post">
        <input class="btn" type="submit" value="Lease" formaction="leaseForm">
        <input class="btn" type="submit" value="Business analysis" formaction="businessAnalysis">
        <input class="btn" type="submit" value="Damage report" formaction="DamageReport">
    </form>
</div>
</body>
</html>