<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Form</title>
    <link rel="stylesheet" type="text/css" href="style.css?v=1234">
</head>
<body>
<div th:include="navbar.html"></div>
<div class="main-container">
    <form method="post">
        Register
        <input type="text" name="email" placeholder="Email">
        First Name
        <input type="text" name="firstName" placeholder="First name">
        Last Name
        <input type="text" name="lastName" placeholder="Last name">
        Phone Number
        <input type="text" name="phoneNumber" placeholder="Phone Number">
        Address
        <input type="text" name="address" placeholder="Address">
        <input class="btn" type="submit" value="Submit" formaction="addUser">
    </form>
</div>
</body>
</html>